.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 212, 196);
    height: 70vh;
    padding: 5px;
    width: 250px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px  #b8b9be, -10px -10px 20px black;
}

.keys {
    flex: 2;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}

.number{
    background-color: rgba(97, 88, 88, 0.781)
}
.brackets{
    background-color: hotpink;
}
.tlr{
    background-color: rgb(124, 110, 245);
}
.clear{
    background-color: rgb(188, 108, 245);
}
.operators{
    background-color: rgb(182, 11, 145);
    color: white;
}
.equal{
    background-color: rgb(10, 240, 10);
    color: white;
}
.cutter{
    background-color: rgb(236, 6, 6);
}

/* mobile responsive */ 
@media screen and (max-width: 550px) {
    .container{
        width: 70vw;
    }
}

@media screen and (max-width: 450){
    .container {
        width: 85vw;
    }
}