.container {
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
    background-color: #8b0dc5;
    height: 70vh;
    padding: 5px; 
    margin: 30px auto;
    border-radius: 10px;
}

.keys {
    flex: 2;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}

.number{
    background-color: rgba(97, 88, 88, 0.781)
}
.brackets{
    background-color: rgb(94, 4, 49);
}
.tlr{
    background-color: rgb(124, 110, 245);
}
.clear{
    background-color: rgb(188, 108, 245);
}
.operators{
    background-color: rgb(182, 11, 145);
    color: white;
}
.equal{
    background-color: rgb(4, 85, 4);
    color: white;
}
.cutter{
    background-color: rgb(236, 6, 6);
}

/* mobile responsive */ 
@media screen and (min-width: 800px) {
    .container {
        width: 50vw !important;
    }
}

@media screen and (min-width: 550px) and (max-width: 800px) {
    .container {
        width: 65vw !important;
    }
}

@media screen and (max-width: 550px) {
    .container{
        width: 60vw !important;
    }
}

@media screen and (max-width: 450){
    .container {
        width: 90vw;
    }
}

@media screen and (max-width: 381px) {
    .container {
        width: 85vw !important;
    }
}